.footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(5vh + .75vw);
  color: white;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  &.mobile {
    flex-direction: column;
    height: fit-content;
    font-size: 1.25em;
    white-space: nowrap;
    padding: 1em 0 1em 0;

    .footer-socials {
      margin-top: .5em;
      flex: 0 0 100%;
    }
  }
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 30%;
  height: 75%;
  overflow: hidden;

  .icon {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.footer-credits {
  flex: 0 0 30%;
  text-align: left;
  padding-left: 20px;
}

.footer-source {
  flex: 0 0 30%;
  text-align: right;
  padding-right: 20px;
}

.footer-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1050px) {
  .footer-credits span {
    display: none;
  }
}
