.project {
  padding: 5% 7.5% 5% 7.5%;
  transition: transform 0.6s, opacity 0.6s;

  &:not(:first-child) {
    transform: translateY(50px);
    opacity: 0;
  }

  &.visible {
    transform: translateY(0);
    opacity: 1;
  }

  &.flipped {
    background-color: #f8f8f8;
  }

  &.mobile {
    padding: 5%;

    .project-title {
      flex-direction: column;
      text-align: left;
    }

    .project-title-sub {
      border-top: 1px solid lightgrey;
      padding-top: 10px;
      text-align: left;
    }
  }
}

.project-title {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: black;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    display: inline-block;
    line-height: 0.95;
    border-color: transparent;
    transition: border-bottom-color 0.15s;

    &:hover {
      border-bottom-color: black;
    }
  }
}

.project-title-main {
  font-size: 28pt;
}

.project-title-sub {
  font-size: 18pt;
  text-align: right;
}

.project-content {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.project-content-blurb {
  width: 35%;
  font-size: 18pt;
}

.project-content-showcase {
  width: 60%;

  img {
    object-fit: contain;
    width: 100%;
  }
}

@media (min-aspect-ratio: 4/3) {
  .project-content.flipped {
    flex-direction: row-reverse;
    text-align: left;
  }
}

@media (max-aspect-ratio: 4/3) {
  .project-content {
    flex-direction: column;
    text-align: left;
    align-items: stretch;
  }

  .project-content-showcase {
    align-self: center;
    width: 75%;
  } 

  .project-content-blurb {
    padding-top: 30px;
    width: 100%;
  }
}