.header {
    position: relative;
    height: 60vh;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: lightgrey;
}

.header-pic {
    height: 20vh;
    border-radius: 50%;
}

.header-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: fit-content;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 2.5em;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}

.header-nav {
    position: absolute;
    bottom: 2.5%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: fit-content;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.header-nav-item {
    text-decoration: none;
    color: grey;
    font-size: 15pt;
    padding: 0 1em 0 1em;

    &.selected {
        text-decoration: underline;
    }
}

.header-title {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
}

.header-title-main {
    font-weight: bolder;
    line-height: 36pt;
    font-size: 36pt;
    margin: 0 0 7.5px 0;
}

.header-title-sub {
    font-weight: lighter;
    line-height: 26pt;
    font-size: 18pt;
    margin: 0px;
}
