.nav {
  position: fixed;
  width: calc(100% - 3rem);
  top: 0;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  padding: 0.9rem 1.5rem 1.1rem 1.5rem;

  display: flex;
  justify-content: flex-end;
}

.nav-item {
  text-decoration: none;
  color: grey;
  font-size: 15pt;
  padding-left: 1em;

  &.selected {
      text-decoration: underline;
  }
}