.project {
    padding: 5% 7.5% 5% 7.5%;

    &.flipped {
        background-color: #f8f8f8;
    }

    // &:nth-child(n+2) {
    //     border-top-style: solid;
    //     border-top-width: 1px;
    //     border-top-color: lightgrey;
    // }
}

.project-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-title-main {
    font-size: 28pt;
}

.project-title-sub {
    font-size: 18pt;
    text-align: right;
}

.project-content {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    
    &.flipped {
        flex-direction: row-reverse;
        text-align: left;
    }
}

.project-content-blurb {
    width: 30vw;
    font-size: 18pt;
}

.project-content-showcase {
    width: 50vw;
}