.project {
    padding: 5% 7.5% 5% 7.5%;

    &.flipped {
        background-color: #f8f8f8;
    }
}

.project-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-title-main {
    font-size: 28pt;
}

.project-title-sub {
    font-size: 18pt;
    text-align: right;
}

.project-content {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.project-content-blurb {
    width: 30vw;
    font-size: 18pt;
}

.project-content-showcase {
    width: 50%;
}

@media (min-aspect-ratio: 4/3) {
    .project-content.flipped {
        flex-direction: row-reverse;
        text-align: left;
    }
}

@media (max-aspect-ratio: 4/3) {
    .project-content {
        flex-direction: column;
        text-align: left;
        align-items: stretch;
    }

    .project-content-showcase {
        align-self: center;
        width: 75%;
    }

    .project-content-blurb {
        padding-top: 30px;
        width: 100%;
    }
}