.project,
.projectTitle,
.projectTitleMain,
.projectTitleSub,
.projectContent,
.projectContentBlurb,
.projectContentShowcase {
  transition-property: transform, opacity;
  // transition-timing-function: ease-out;
}

.project {
  transition-duration: 0.6s;
}

.projectTitle,
.projectTitleMain,
.projectTitleSub {
  transition-duration: 0.5s;
}

.projectContent,
.projectContentBlurb,
.projectContentShowcase {
  transition-duration: 0.4s;
  transition-delay: 0.1s;
}

.project {
  padding: 5% 7.5% 5% 7.5%;

  &:not(:first-child):not(.visible) {
    opacity: 0;
    transform: translateY(100px);

    .projectTitle,
    .projectContent {
      opacity: 0;
    }

    .projectTitleMain {
      transform: translateX(-50px);
    }

    &:not(.flipped) .projectContentShowcase,
    &.flipped .projectContentBlurb {
      transform: translateX(-40px);
    }

    .projectTitleSub {
      transform: translateX(50px);
    }
    
    &:not(.flipped) .projectContentBlurb,
    &.flipped .projectContentShowcase {
      transform: translateX(40px);
    }
  }

  &.flipped {
    background-color: #f8f8f8;
  }

  &.mobile {
    padding: 5%;

    .projectTitle {
      flex-direction: column;
      text-align: left;
    }

    .projectTitleSub {
      border-top: 1px solid lightgrey;
      padding-top: 10px;
      text-align: left;
    }
  }
}

.projectTitle {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: var(--chart-color);
    border-bottom: 0px solid transparent;
    display: inline-block;
    line-height: 0.95;
    transition: border-bottom-color 0.25s, border-bottom-width 0.15s;

    &:hover {
      border-bottom-color: var(--chart-color);
      border-bottom-width: 3px;
    }
  }
}

.projectTitleMain {
  font-size: 28pt;
}

.projectTitleSub {
  font-size: 18pt;
  text-align: right;
}

.projectContent {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.projectContentBlurb {
  width: 35%;
  font-size: 18pt;
}

.projectContentShowcase {
  width: 60%;

  img {
    object-fit: contain;
    width: 100%;
  }
}

@media (min-aspect-ratio: 4/3) {
  .projectContent.flipped {
    flex-direction: row-reverse;
    text-align: left;
  }
}

@media (max-aspect-ratio: 4/3) {
  .projectContent {
    flex-direction: column;
    text-align: left;
    align-items: stretch;
  }

  .projectContentShowcase {
    align-self: center;
    width: 75%;
  } 

  .projectContentBlurb {
    padding-top: 30px;
    width: 100%;
  }
}
