.resume {
  display: flex;
  width: 60%;
  max-width: 1300px;
  margin: auto;
  text-align: left;
  padding: calc(3vw + 5vh) 0 calc(3vw + 5vh) 0;

  &.mobile {
    width: 90%;
    flex-direction: column;

    .resumeSidebar {
      width: 100%;
      text-align: center;
    }

    .resumeSidebarHeader {
      font-size: 18pt;
    }

    .resumeOrganizations {
      min-width: 0;
    }

    .resumeExperiences {
      min-width: 0;
      padding-left: 0;
    }
    
    .resumeExperiencesHeader {
      font-size: 18pt;
      padding-bottom: 0;
    }
  }
}

.resumeSidebar {
  flex: 0 0 1;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.4);
}

.resumeSidebarHeader {
  font-weight: bold;
  font-size: 14pt;
  line-height: 14pt;
  padding-bottom: 15px;
  color: rgba(249, 249, 249, 0.8);
}

.resumeEducation {
  padding-bottom: 20px;

  :nth-child(n + 2) {
    padding-bottom: 2px;
  }

  :nth-child(n + 3) {
    padding-top: 2.5px;
    margin-top: 2.5px;
  }
}

.resumeOrganizations {
  padding-bottom: 20px;
  min-width: 225px;

  :nth-child(n + 2) {
    padding-bottom: 2px;
  }

  :nth-child(n + 3) {
    padding-top: 2.5px;
    margin-top: 2.5px;
  }
}

.resumeExperiences {
  min-width: 400px;
  flex: 1 0 4;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
}

.resumeExperiencesHeader {
  font-size: 24pt;
  line-height: 24px;
  font-weight: bold;
  padding-bottom: 20px;
}

.resumeExperience {
  border-bottom: 1px solid lightgrey;
  transition: transform 0.6s, opacity 0.6s;
  
  &:nth-child(n + 3) {
    transform: translateY(25px);
    opacity: 0;
  }

  &.visible {
    transform: translateY(0);
    opacity: 1;
  }
}

.resumeExperienceLogo {
  height: 75px;
  padding: 20px 0 10px 0;
}

.resumeExperienceHeader {
  font-size: 14pt;
  padding-top: 20px;
}

.resumeExperienceSummary {
  color: rgba(255, 255, 255, 0.4);
}
